body {
  margin: 0;
  background-color: #a58346 !important;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: 'Acme', sans-serif !important; }
  body h2, body h3, body h4 {
    color: #683c11; }
  body h1 {
    color: #8e211a; }

.buttons {
  margin-left: auto;
  margin-right: auto; }

#img-character {
  margin-top: 15px; }

#progress-bar {
  transform: scale(0.8); }

h1 {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; }

b {
  color: #8e211a; }

footer img {
  z-index: 10;
  transform: translateY(20%) rotate(180deg);
  position: fixed;
  bottom: 0;
  pointer-events: none; }

header img {
  z-index: 10;
  position: fixed;
  pointer-events: none;
  transform: translateY(-20%); }

.card-holder {
  z-index: 1;
  width: 94%;
  max-width: 900px;
  position: absolute;
  margin-top: 50vh;
  left: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(-50%); }
  .card-holder #card {
    z-index: 5;
    background-image: url("../images/style/card-mob.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
    .card-holder #card:after {
      content: "";
      display: block;
      padding-bottom: 152%; }
    .card-holder #card #card-content {
      position: absolute;
      width: calc(100% - 50px);
      margin-left: 25px;
      margin-right: 25px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 15; }
      .card-holder #card #card-content img {
        max-width: 175px; }
      .card-holder #card #card-content #btn-yes, .card-holder #card #card-content #btn-no {
        display: inline-block; }
      .card-holder #card #card-content #question {
        height: 140px; }
      .card-holder #card #card-content #btn-no {
        margin-left: 20px; }

#progress-bar {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 20px; }
  #progress-bar .progress-bar-item {
    height: 50px; }

.btn-row .btn {
  font-size: 14px; }

.btn {
  pointer-events: all;
  cursor: pointer;
  padding: 5px 15px;
  font-size: 110%;
  color: #56571d;
  font-size: 33px;
  text-decoration: underline;
  display: inline-block;
  padding: 10px; }
  .btn::selection {
    background: transparent; }
  .btn::-moz-selection {
    background: transparent; }

#btn-reset {
  color: #8e211a;
  z-index: 100;
  margin-left: auto;
  display: block;
  margin-right: auto; }

.copy {
  z-index: 1000;
  position: fixed;
  bottom: -11px;
  display: block;
  color: white;
  width: 100%;
  text-align: center; }

@media (min-width: 576px) {
  #progress-bar {
    transform: scale(0.9); } }
@media (min-width: 768px) {
  #progress-bar {
    transform: scale(1); }

  .card-holder {
    z-index: 1;
    width: 90%;
    max-width: 900px;
    position: absolute;
    margin-top: 50vh;
    left: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(-50%); }
    .card-holder #card {
      z-index: 5;
      background-image: url("../images/style/card.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: relative; }
      .card-holder #card:after {
        content: "";
        display: block;
        padding-bottom: 55%; }
      .card-holder #card #card-content {
        position: absolute;
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-right: 50px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 15; }
        .card-holder #card #card-content img {
          max-width: 175px; }
        .card-holder #card #card-content #btn-yes, .card-holder #card #card-content #btn-no {
          display: inline-block; }
        .card-holder #card #card-content #question {
          height: 90px; } }
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.ml-auto, .mx-auto {
  margin-left: auto !important; }

.mr-auto, .mx-auto {
  margin-right: auto !important; }

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.text-center {
  text-align: center !important; }

.mb-2 {
  margin-bottom: 25px; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

@media (min-width: 576px) {
  .d-sm-none {
    display: none !important; }

  .d-sm-block {
    display: block !important; }

  .d-sm-flex {
    display: flex !important; }

  .container, .container-sm {
    max-width: 540px; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; } }
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 720px; }

  .d-md-none {
    display: none !important; }

  .d-md-block {
    display: block !important; }

  .d-md-flex {
    display: flex !important; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .btn-row .btn {
    font-size: 33px; } }
@media (min-width: 992px) {
  .text-lg-left {
    text-align: left !important; }

  .container, .container-sm, .container-md, .container-lg {
    max-width: 960px; }

  .d-lg-none {
    display: none !important; }

  .d-lg-block {
    display: block !important; }

  .d-lg-flex {
    display: flex !important; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; } }
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1140px; }

  .d-xl-none {
    display: none !important; }

  .d-xl-block {
    display: block !important; }

  .d-xl-flex {
    display: flex !important; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; } }
